WebServices/Web-Services-WCF/ConsoleClient/Service References/StringOperations/StringService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26606/StringService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF.ServiceLibrary.Models" />
  <xs:element name="CountWordOccuresInText">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF.ServiceLibrary.Models" minOccurs="0" name="text" nillable="true" type="q1:TextCounter" />
        <xs:element minOccurs="0" name="searchedWord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountWordOccuresInTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountWordOccuresInTextResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>